body {
	margin:0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

.header-proper {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}
.header-proper .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.header-proper .logo .red {
    /* color: #19466d; */
    color: #d03c3c;
}

.scroll-line {
    height: 2px;
    margin-bottom: -2px;
    background: #d03c3c;
    width: 0%;
}

.content {
    margin: 0 auto;
    padding: 100px 0;
    width: 80%;
    max-width: 800px;
}

.headline {
    font-size: 35px;
    line-height: 66px;
}