body {
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #19466d;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* Zoom Animation */
.zomin {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-size: 100%;
    background-image: url(https://images.pexels.com/photos/68767/divers-underwater-ocean-swim-68767.jpeg);
    animation: zoom 100s ease-out infinite both;
    -webkit-animation: zoom 100s infinite ease-out both;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    50% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }

    100% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    50% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }

    100% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

/* Content */
.content {
    position: relative;
    margin: 30vh auto 0 auto;
    text-align: center;
    background-image: linear-gradient(0deg, rgba(15, 10, 103, 0.65) 10%, hsla(196, 100%, 55%, 0.65) 100%);
    width: 60%;
    height: auto;
    padding: 2.5rem 2rem 5rem 2rem;
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

a {
    font-size: 1.25rem;
    color: #ff9063;
}