body {
	margin:0;
	text-align:center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background:#19466d;
}
h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 2px #03325a;
  margin: 4rem 0 3rem 0;
  letter-spacing: 0.15rem;
}
.container {
	width: 90%;
	margin: 0 auto;
}
input[type="radio"] {
	display:none;
}
label {
	width:23%;
	float:left;
	text-align:center;
	background: #366186;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.15);
	color:#fff;
	text-shadow: 1px 1px 2px #083d6b;
	padding:0.5%;
	margin:0.5%;
	margin-bottom:30px;
	cursor:pointer;
}
input[type="radio"][id="blue"]:checked + label {
  	background:#00c2ff;
}
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"]:checked ~ .green {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="red"]:checked + label {
  	background:#ff4466;
}
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"]:checked ~ .green {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="green"]:checked + label {
  background:#4ee869;
}
input[type="radio"][id="green"]:checked ~ .blue, input[type="radio"][id="green"]:checked ~ .red {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
.tile {
	color:#fff;
	text-shadow: 1px 1px 0 #afafaf;
	width:23%;
	height:100px;
	float:left;
	transition:all 1s;
	margin:0.5%;
	padding:1.5% 0.5% 0.5% 0.5%;
}
.green {
  	background:#4ee869;
}
.blue {
  	background:#00c2ff;
}
.red {
  	background:#ff4466;
}