body {
  margin:0;
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#19466d;
}
h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px 2px #03325a;
  margin: 4rem 0 3rem 0;
  letter-spacing: 0.15rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
}

/* Circle Styling */
.circle1, .circle2 {
  width: 25%;
  height: 25vw;
  margin: 0 3rem;
  transition: 1s;
}
.circle1{
  background-image: linear-gradient(0deg, #03ff06 10%, #abe0ff 100%);
}
.circle2 {
  background-image: linear-gradient(0deg, #ff8e03 30%, #ff5151 100%);
}
/* Hover Animations */
.circle1:hover {
  border-radius: 50%;
  transform: rotate(360deg);
}
.circle2:hover {
  border-radius: 50%;
  transform: rotate(-360deg);
}
